In [1]:
import pandas as pd

df = pd.read_csv('../data/Flight_Price_Dataset_of_Bangladesh.csv')

In [2]:
df.head()

,Airline,Source,Source Name,Destination,Destination Name,Departure Date & Time,Arrival Date & Time,Duration (hrs),Stopovers,Aircraft Type,Class,Booking Source,Base Fare (BDT),Tax & Surcharge (BDT),Total Fare (BDT),Seasonality,Days Before Departure
0,Malaysian Airlines,CXB,Cox's Bazar Airport,CCU,Netaji Subhas Chandra Bose International Airpo...,2025-11-17 06:25:00,2025-11-17 07:38:10,1.219526,Direct,Airbus A320,Economy,Online Website,21131.225021,5169.683753,26300.908775,Regular,10
1,Cathay Pacific,BZL,Barisal Airport,CGP,"Shah Amanat International Airport, Chittagong",2025-03-16 00:17:00,2025-03-16 00:53:31,0.608638,Direct,Airbus A320,First Class,Travel Agency,11605.395471,200.000000,11805.395471,Regular,14
2,British Airways,ZYL,"Osmani International Airport, Sylhet",KUL,Kuala Lumpur International Airport,2025-12-13 12:03:00,2025-12-13 14:44:22,2.689651,1 Stop,Boeing 787,Economy,Travel Agency,39882.499349,11982.374902,51864.874251,Winter Holidays,83
3,Singapore Airlines,RJH,"Shah Makhdum Airport, Rajshahi",DAC,"Hazrat Shahjalal International Airport, Dhaka",2025-05-30 03:21:00,2025-05-30 04:02:09,0.686054,Direct,Airbus A320,Economy,Direct Booking,4435.607340,200.000000,4635.607340,Regular,56
4,British Airways,SPD,Saidpur Airport,YYZ,Toronto Pearson International Airport,2025-04-25 09:14:00,2025-04-25 23:17:20,14.055609,1 Stop,Airbus A350,Business,Direct Booking,59243.806146,14886.570922,74130.377068,Regular,90

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57000 entries, 0 to 56999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Airline                57000 non-null  object
 1   Source                 57000 non-null  object
 2   Source Name            57000 non-null  object
 3   Destination            57000 non-null  object
 4   Destination Name       57000 non-null  object
 5   Departure Date & Time  57000 non-null  object
 6   Arrival Date & Time    57000 non-null  object
 7   Duration (hrs)         57000 non-null  float64
 8   Stopovers              57000 non-null  object
 9   Aircraft Type          57000 non-null  object
 10  Class                  57000 non-null  object
 11  Booking Source         57000 non-null  object
 12  Base Fare (BDT)        57000 non-null  float64
 13  Tax & Surcharge (BDT)  57000 non-null  float64
 14  Total Fare (BDT)       57000 non-null  float64
 15  Seasonality            57000 non-null  object
 16  Days Before Departure  57000 non-null  int64
dtypes: float64(4), int64(1), object(12)
memory usage: 7.4+ MB

In [4]:
df['Stopovers'].value_counts().head(10)

Stopovers
Direct     36642
1 Stop     17400
2 Stops     2958
Name: count, dtype: int64

In [5]:
((df["Total Fare (BDT)"] - (df["Base Fare (BDT)"] + df["Tax & Surcharge (BDT)"])).abs() < 1e-6).mean()

np.float64(0.9557543859649122)